<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.number_field :points, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :complete %><br>
    <%= f.check_box :complete %>
  </div>
  <div class="field">
    <%= f.label :course %><br>
    <%= f.select :course_id, Course.all.order(:name).map { |c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category_id, Category.all.order(:name).map { |c| [c.name, c.id]} %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
