<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Statistics</h1>
  </div>
  <div class="panel-body">
    <p>
      You've completed
      <strong><%= pluralize Task.completed.points_total, "point" %> total</strong>.
      You have
      <strong><%= pluralize Task.remaining.points_total, "point" %> remaining</strong>.
    </p>
    <p>
      <% if Task.any_completed? %>
        It's been
        <strong><%= time_ago_in_words Task.last_completed.completed_on %></strong>
        since you've completed a task.
      <% else %>
        You haven't completed any tasks. Get to work!
      <% end %>
    </p>
    <p>
      You should earn at least
      <strong><%= Task.points_per_day %> points per day</strong>.
      So far today you've earned
      <strong><%= Task.points_today %> points</strong>.
      Keep it up!
    </p>
    <p>Total complete: <%= @total_percent_complete.round(2) %>%</p>
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="<%= @total_percent_complete %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @total_percent_complete %>%">
      </div>
    </div>
  </div>
</div>
