<div class="well">
  <%= link_to 'New Task', new_task_path, :class => "btn btn-primary" %>
  <%= link_to 'New Course', new_course_path, :class => "btn btn-primary"%>
  <%= link_to 'New Category', new_category_path, :class => "btn btn-primary"%>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Statistics</h1>
  </div>
  <div class="panel-body">
    <p>
      Completed <%= pluralize Task.completed.points_total, "point" %>.
      <%= pluralize Task.remaining.points_total, "point" %> remaining.
    </p>
    <p>It's been x minutes since you've completed a task.</p>
    <p>You should earn x points per today. So far today you've earned x points. Keep it up!</p>
  </div>
</div>

<h2>Listing tasks</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#remaining" data-toggle="tab">Remaining</a></li>
  <li><a href="#completed" data-toggle="tab">Completed</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="remaining">
    <%= render partial: "table", locals: { tasks: @open_tasks } %>
  </div>
  <div class="tab-pane" id="completed">
    <%= render partial: "table", locals: { tasks: @completed_tasks } %>
  </div>
</div>


